*{
  touch-action: manipulation;
}

body{
  margin: 0;
  padding: 0;
  background: white;
}
.main{
  display: none;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%,-50%); */
  /* border-radius: 15px; */
  /* box-shadow: 0px 0px 20px 0px; */
  /* padding: 1rem */
}

#btn-start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    outline: none;
    border: 1px dotted black;
}

.deathscreen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 0 0 / 95%);
  text-align: center;
  padding: 3rem;
  border-radius: 10px;
}

.winscreen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 100 0 / 95%);
  text-align: center;
  padding: 3rem;
  border-radius: 10px;
}

.buttons{
  display: flex;
  text-align: center;
}

.left-move{
  width: 15%;
  display: flex;
}

.left-move button{
  vertical-align: middle;
  text-align: center;
  width: 50%;
  font-size: 30 px;
}

.right-jump{
  width: 15%;
}

.right-jump button{
  display: flex;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}

#data{
  width: 70%;
}
#gamew{
  text-align: center;
}
.buttons{
  margin-top: 10%;
}
